Repository DeFiCh/go-ethlibs, pull requests merged in 2023-03, with the labels that each got.

#1 chore(node): Refining ETH RPC tests
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-enhancement.md
  .github/ISSUE_TEMPLATE/3-general.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/test.yml
  .gitignore
  node/rpc_test.go
Labels: enhancement

#4 Add workflow with auth header
  .github/workflows/rpc-test.yaml
Labels: test/rpc_evm

#5 chore(node): add `eth_call` rpc test
  node/client.go
  node/interfaces.go
  node/mocks/node.go
  node/rpc_test.go
Labels: test/rpc_evm

#7 Add `eth_accounts` rpc test
  .github/workflows/rpc-test.yaml
  .github/workflows/test.yml
  node/client.go
  node/interfaces.go
  node/mocks/node.go
  node/rpc_test.go
  node/websocket.go
Labels: evm
